@font-face {
    font-family: 'Gilroy';
    font-weight: 400;
    src:
        url('../fonts/gilroy-regular.woff2') format('woff2'),
        url('../fonts/gilroy-regular.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
    font-weight: 500;
    src:
        url('../fonts/gilroy-medium.woff2') format('woff2'),
        url('../fonts/gilroy-medium.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'NotoSerif';
    font-weight: 700;
    src:
        url('../fonts/NotoSerif-Bold.woff2') format('woff2'),
        url('../fonts/NotoSerif-Bold.woff') format('woff');
    font-display: swap;
}