@font-face {
    font-family: 'Gilroy';
    font-weight: 400;
    src:
        url('../fonts/gilroy-regular.woff2'),
        url('../fonts/gilroy-regular.woff'),
        url('../fonts/gilroy-regular.ttf'),
}
@font-face {
    font-family: 'Gilroy';
    font-weight: 500;
    src:
        url('../fonts/gilroy-medium.woff2'),
        url('../fonts/gilroy-medium.woff'),
        url('../fonts/gilroy-medium.ttf'),
}
@font-face {
    font-family: 'NotoSerif';
    font-weight: 700;
    src:
        url('../fonts/NotoSerif-Bold.woff2'),
        url('../fonts/NotoSerif-Bold.woff'),
        url('../fonts/NotoSerif-Bold.ttf'),
}