.form {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;

    text-align: center;

/*     @media (max-width: $tablet){
        padding-top: 44px;
        padding-left: 22px;
        padding-right: 22px;
        padding-bottom: 65px;
        border-radius: 40px;
        margin-bottom: 40px;
    } */

    &__title{
        margin-bottom: 52px;

        @media (max-width: $tablet){
            font-size: rem(24);
            line-height: rem(29);
        }
    }

    &__subtitle{
        font-size: rem(36);
        line-height: rem(44);
        text-transform: none;
        margin-bottom: 63px;

        @media (max-width: $tablet){
            margin-bottom: 25px;
        }
    }

    &__btn{
        align-self: center;
        font-size: 14px;
        line-height: 16px;
        width: 159px;
        height: 45px;

        @media (max-width: $tablet){
            max-width: none;
        }
    }

    &__input, &__tarea{

        border: 2px solid #fff;
        color: #fff;
        background-color: transparent;

        padding: 15px 20px;
        font-size: 14px;
        line-height: 16px;

        @media (max-width: $tablet){
            padding: 16px 30px;

        }

        &:focus{
            outline: 2px solid $theme;
        }

        &::placeholder{
            color: $black;
            opacity: .5;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
        }
    }


    &__input {
        flex-grow: 1;
        align-self: stretch;
        border: 1px solid $grey;
        color: $black;
        width: 200px;
        height: 45px;

        &:focus{
            outline: 2px solid $theme;
        }

        @media (max-width: $laptop){
            margin-left: 14px;
        }

        @media (max-width: $tablet){
            margin-left: 0;
        }

        @media (max-width: 539px){
            width: 100%;
        }
       
    }

    &__row{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 14px;
        background: #fff;
        padding: 20px 22px;


        @media (max-width: 539px){
            > * {
                grid-column: span 4;
            }
        }

/*         @media (max-width: $desktop){
            padding-left: 40px;
            padding-right: 40px;

            margin-bottom: 85px;

            > * {
                grid-column: span 4;
            }
            
        }

        @media (max-width: $laptop){
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 10px;
        }
        @media (max-width: $tablet){
            gap: 22px;
            margin-bottom: 22px;
        } */
        
        > * {
            grid-column: span 2;
        }

        &_w-100{
            > * {
                grid-column: span 4;
            }
        }
    }

    &__tarea{
        height: 208px;
        width: 100%;
        resize: none;
        border-radius: 40px;
        margin-bottom: 18px;

        @media (max-width: $laptop){
            height: 148px;
            font-size: 1rem;
            line-height: rem(18);
        }

        @media (max-width: $tablet){
            border-radius: 40px;
            height: 220px;
            margin-bottom: 30px;
        }

        &::placeholder{
            color: $grey;
            text-transform: uppercase;
        }
        


    }
}