$theme: #979797;
$black: #333;
$bgc: #F9F9F9;
$background: #E5E5E5;
$grey: #D6D6D6;
$hardgrey: #979797;
$second: rgba($color: $black, $alpha: 0.05);

$desktop: 1295px;
$laptop: 1023px;
$tablet: 767px;
$mobileL: 424px;
$mobileM: 374px;
$mobileS: 320px;
$mobile: 390px;