section.catalog-bottom.product-catalog-bottom
    .container
        .product-catalog-bottom__content
            .catalog-bottom__text-block
                h2.catalog-bottom__title.title Полное описание товара
                .catalog-bottom__text#text
                    p. 
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, lorem eu commodo porttitor erat. Amet mauris cursus bibendum in egestas. Nulla porttitor amet quam elit, mauris. Tortor egestas dignissim augue suspendisse rutrum pretium lobortis dolor. Commodo sagittis at amet faucibus faucibus id. Bibendum placerat convallis gravida eu quisque et augue. Sed dignissim amet ut vitae at ornare sed.
                    p.
                        Commodo sagittis at amet faucibus faucibus id. Bibendum placerat convallis gravida eu quisque et augue. Sed dignissim amet ut vitae at ornare sed.
                button.read-more.catalog-bottom__read-more(data-target="text") читать полностью
            .catalog-bottom__icons
                .catalog-bottom__icon.catalog-bottom__icon-deliver 
                    img(src="img/svg/delivery.svg", alt="" aria-hidden="true")
                    p Бесплатная доставка
                .catalog-bottom__icon.catalog-bottom__icon-design 
                    img(src="img/svg/individual.svg", alt="" aria-hidden="true")
                    p Индивидуальный дизайн
                .catalog-bottom__icon.catalog-bottom__icon-fitting 
                    img(src="img/svg/ribbon-design.svg", alt="" aria-hidden="true")
                    p Бесплатная примерка
                .catalog-bottom__icon.catalog-bottom__icon-approach 
                    img(src="img/svg/jewelry.svg", alt="" aria-hidden="true")
                    p Личный подход
                
