section.more
    .container
        .more__subtitle.subtitle Мы подготовили для вас кое-что еще
        h2.more__title.title Товары, которые могут Вам понравиться
        .more__content
            .product
                img.product__img(src="img/rings.png", alt="кольца") 
                p.product__type Подвеска
                p.product__name Dolce & Gabanna
                a.btn.product__btn(href="#") 175 000 ₽
            .product
                img.product__img(src="img/rings.png", alt="кольца") 
                p.product__type Подвеска
                p.product__name Dolce & Gabanna
                a.btn.product__btn(href="#") 175 000 ₽
            .product
                img.product__img(src="img/rings.png", alt="кольца") 
                p.product__type Подвеска
                p.product__name Dolce & Gabanna
                a.btn.product__btn(href="#") 175 000 ₽