include common/mixins/_nav
footer.footer
    .container
        .footer__content

            .footer__item
                .footer__title Полезные ссылки
                ul.footer__navigation.list
                    li.footer__navigation-li
                        a.footer__link.link(href="#") Доставка
                    li.footer__navigation-li
                        a.footer__link.link(href="#") Оплата 
                    li.footer__navigation-li
                        a.footer__link.link(href="#") Акции
                    li.footer__navigation-li
                        a.footer__link.link(href="#") Политика конфиденциальности
            .footer__item
                .footer__title оплата
                p.footer__par Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper justo, nec, pellentesque.
                .footer__payment
                    img(src="img/svg/visa.svg", alt="visa")
                    img(src="img/svg/mastercard.svg", alt="mastercard")
            .footer__item
                .footer__title контакты
                .contacts
                    a.contact-phone(href="tel:+78122345655") 8 (812) 234-56-55
                    a.contact-phone(href="tel:+78122345655") 8 (812) 234-56-55
                    a.contact-mail(href="mailto:ojjo@ojjo.ru") ojjo@ojjo.ru
            .footer__item
                .footer__title социальные сети
                p.footer__par Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper justo, nec, pellentesque.
                .social 
                    a.social__link(href="#")
                        img(src="img/svg/social/youtube.svg", alt="youtube" width="26" height="26") 
                    a.social__link(href="#")
                        img(src="img/svg/social/vk.svg", alt="vk" width="26" height="26") 
                    a.social__link(href="#")
                        img.social__fb(src="img/svg/social/facebook.svg", alt="facebook" width="26" height="26")
                    a.social__link(href="#")
                        img(src="img/svg/social/telegram.svg", alt="telegram" width="26" height="26")
                    a.social__link(href="#")
                        img.social__e(src="img/svg/social/e.svg", alt="telegram" width="26" height="26")
        .copyright
            div (c) 2020 OJJO jewelry
            div Договор публичной офферты
            div Контрагентам
            div.made Сделано Figma.info
