@import "../../common/_form.scss";

.subscribe{

    padding-top: 100px;
    padding-bottom: 120px;

    background-color: $black;
    background-image: url('../img/background.png');
    color: #fff;

    &__subtitle{

    } 
    &__title{
        margin-bottom: 60px;
    }
    &__items{
        max-width: 772px;
        padding: 0 36px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        @media (max-width: $tablet){
            flex-direction: column;
            gap: 30px;
            align-items: center;
        }
        @media (max-width: 539px){
            padding: 0;
        }
    }

    &__form{
        border: 1px solid #fff;
        background-color: transparent;
        padding: 14px 17px;
        max-width: 448px;

        .form__row{
            padding: 20px 22px;
            background-color: #fff;
        }

        @media (max-width: 539px){
            max-width: 100%;
            width: 100%;
        }
    }

    &__item{
        @media (max-width: 539px){
            width: 100%;
        }
    }
    &__list{

        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (max-width: $tablet){
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-left: 37px;
        }
        
    }
    &__li{

        font-size: 18px;
        line-height: 140%;

        padding: 5px 0;

        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 7px;
            left: -37px;
            width: 17px;
            height: 17px;
            background-image: url('/img/svg/subscribe__icon.svg');
            background-repeat: no-repeat;
            background-position: center;
        }

        @media (max-width: $tablet){
            min-width: 210px;
        }
    }
}
