section.blogs
    .blogs__content.container
        p.subtitle.blogs__subtitle Полезные статьи
        h2.title.blogs__title Лучшие советы по подбору дорогих подарков
        .blogs__items
            .blog
                a.blog__link(href="#")
                .blog__name Как выбрать &#10; часы для своей &#10; будущей жены
                picture
                    source(srcset="img/blog-1.webp" type="image/webp")
                    img.blog__image(src="img/blog-1.jpg" alt="Кольца" width="350" height="370")
            .blog
                a.blog__link(href="#")
                .blog__name Запонки для мужа: &#10; 7 ключевых правил &#10; покупки аксессуара
                picture
                    source(srcset="img/blog-2.webp" type="image/webp")
                    img.blog__image(src="img/blog-2.jpg" alt="Кольца" width="350" height="370")
            .blog
                a.blog__link(href="#") 
                .blog__name Как выбрать &#10; обручальные кольца &#10; молодоженам
                picture
                    source(srcset="img/blog-3.webp" type="image/webp")
                    img.blog__image(src="img/blog-3.jpg" alt="Кольца" width="350" height="370")
        a.blogs__btb.btn читать наш блог