sections.categories
    .container
        p.subtitle.categories__subtitle К мероприятиям
        h2.title.categories__title Настоящая красота здесь!
        .tabs.categories__tabs
            .tabs__buttons
                button.tabs__button(data-target="#tab1") Свадьба
                button.tabs__button(data-target="#tab2") МУЖУ
                button.tabs__button(data-target="#tab3") жене
                button.tabs__button(data-target="#tab4") партнеру
                button.tabs__button(data-target="#tab5") коллекции
                button.tabs__button(data-target="#tab6") редкость
            .tabs__content#tab1
                .categories-items
                    .categories-item
                        a.categories-item__link(href="#")
                        .categories-item__name Кольца
                        picture
                            source(srcset="img/item-1.webp" type="image/webp")
                            img.categories-item__image(src="img/item-1.jpg" alt="Кольца" width="350" height="280")
                    .categories-item
                        a.categories-item__link(href="#")
                        .categories-item__name серьги
                        picture
                            source(srcset="img/item-2.webp" type="image/webp")
                            img.categories-item__image(src="img/item-2.jpg" alt="серьги" width="350" height="280")
                    .categories-item
                        a.categories-item__link(href="#")
                        .categories-item__name подвески
                        picture
                            source(srcset="img/item-3.webp" type="image/webp")
                            img.categories-item__image(src="img/item-3.jpg" alt="подвески" width="350" height="280")
                    .categories-item
                        a.categories-item__link(href="#")
                        .categories-item__name запонки
                        picture
                            source(srcset="img/item-4.webp" type="image/webp")
                            img.categories-item__image(src="img/item-4.jpg" alt="запонки" width="350" height="280")
                    .categories-item
                        a.categories-item__link(href="#")
                        .categories-item__name браслеты
                        picture
                            source(srcset="img/item-5.webp" type="image/webp")
                            img.categories-item__image(src="img/item-5.jpg" alt="браслеты" width="350" height="280")
                    .categories-item
                        a.categories-item__link(href="#")
                        .categories-item__name часы
                        picture
                            source(srcset="img/item-6.webp" type="image/webp")
                            img.categories-item__image(src="img/item-6.jpg" alt="часы" width="350" height="280")
            .tabs__content#tab2
                .categories-items
                    .categories-item
                        a.categories-item__link(href="#")
                        .categories-item__name Кольца
                        picture
                            source(srcset="img/item-1.webp" type="image/webp")
                            img.categories-item__image(src="img/item-1.jpg" alt="Кольца" width="350" height="280")
                    .categories-item
                        a.categories-item__link(href="#")
                        .categories-item__name серьги
                        picture
                            source(srcset="img/item-2.webp" type="image/webp")
                            img.categories-item__image(src="img/item-2.jpg" alt="серьги" width="350" height="280")
                    .categories-item
                        a.categories-item__link(href="#")
                        .categories-item__name часы
                        picture
                            source(srcset="img/item-6.webp" type="image/webp")
                            img.categories-item__image(src="img/item-6.jpg" alt="часы" width="350" height="280")
            .tabs__content#tab3
                .categories-items
                    .categories-item
                        a.categories-item__link(href="#")
                        .categories-item__name Кольца
                        picture
                            source(srcset="img/item-1.webp" type="image/webp")
                            img.categories-item__image(src="img/item-1.jpg" alt="Кольца" width="350" height="280")
                    .categories-item
                        a.categories-item__link(href="#")
                        .categories-item__name серьги
                        picture
                            source(srcset="img/item-2.webp" type="image/webp")
                            img.categories-item__image(src="img/item-2.jpg" alt="серьги" width="350" height="280")
                    .categories-item
                        a.categories-item__link(href="#")
                        .categories-item__name подвески
                        picture
                            source(srcset="img/item-3.webp" type="image/webp")
                            img.categories-item__image(src="img/item-3.jpg" alt="подвески" width="350" height="280")
                    .categories-item
                        a.categories-item__link(href="#")
                        .categories-item__name запонки
                        picture
                            source(srcset="img/item-4.webp" type="image/webp")
                            img.categories-item__image(src="img/item-4.jpg" alt="запонки" width="350" height="280")
            .tabs__content#tab4
                .categories-items
                    .categories-item
                        a.categories-item__link(href="#")
                        .categories-item__name Кольца
                        picture
                            source(srcset="img/item-1.webp" type="image/webp")
                            img.categories-item__image(src="img/item-1.jpg" alt="Кольца" width="350" height="280")
                    .categories-item
                        a.categories-item__link(href="#")
                        .categories-item__name серьги
                        picture
                            source(srcset="img/item-2.webp" type="image/webp")
                            img.categories-item__image(src="img/item-2.jpg" alt="серьги" width="350" height="280")
                    .categories-item
                        a.categories-item__link(href="#")
                        .categories-item__name подвески
                        picture
                            source(srcset="img/item-3.webp" type="image/webp")
                            img.categories-item__image(src="img/item-3.jpg" alt="подвески" width="350" height="280")
                    .categories-item
                        a.categories-item__link(href="#")
                        .categories-item__name запонки
                        picture
                            source(srcset="img/item-4.webp" type="image/webp")
                            img.categories-item__image(src="img/item-4.jpg" alt="запонки" width="350" height="280")
                    .categories-item
                        a.categories-item__link(href="#")
                        .categories-item__name браслеты
                        picture
                            source(srcset="img/item-5.webp" type="image/webp")
                            img.categories-item__image(src="img/item-5.jpg" alt="браслеты" width="350" height="280")
                    .categories-item
                        a.categories-item__link(href="#")
                        .categories-item__name часы
                        picture
                            source(srcset="img/item-6.webp" type="image/webp")
                            img.categories-item__image(src="img/item-6.jpg" alt="часы" width="350" height="280")
            .tabs__content#tab5
                .categories-items
                    .categories-item
                        a.categories-item__link(href="#")
                        .categories-item__name Кольца
                        picture
                            source(srcset="img/item-1.webp" type="image/webp")
                            img.categories-item__image(src="img/item-1.jpg" alt="Кольца" width="350" height="280")
                    .categories-item
                        a.categories-item__link(href="#")
                        .categories-item__name серьги
                        picture
                            source(srcset="img/item-2.webp" type="image/webp")
                            img.categories-item__image(src="img/item-2.jpg" alt="серьги" width="350" height="280")
                    .categories-item
                        a.categories-item__link(href="#")
                        .categories-item__name запонки
                        picture
                            source(srcset="img/item-4.webp" type="image/webp")
                            img.categories-item__image(src="img/item-4.jpg" alt="запонки" width="350" height="280")
                    .categories-item
                        a.categories-item__link(href="#")
                        .categories-item__name часы
                        picture
                            source(srcset="img/item-6.webp" type="image/webp")
                            img.categories-item__image(src="img/item-6.jpg" alt="часы" width="350" height="280")
            .tabs__content#tab6
                .categories-items
                    .categories-item
                        a.categories-item__link(href="#")
                        .categories-item__name серьги
                        picture
                            source(srcset="img/item-2.webp" type="image/webp")
                            img.categories-item__image(src="img/item-2.jpg" alt="серьги" width="350" height="280")
                    .categories-item
                        a.categories-item__link(href="#")
                        .categories-item__name подвески
                        picture
                            source(srcset="img/item-3.webp" type="image/webp")
                            img.categories-item__image(src="img/item-3.jpg" alt="подвески" width="350" height="280")
                    .categories-item
                        a.categories-item__link(href="#")
                        .categories-item__name запонки
                        picture
                            source(srcset="img/item-4.webp" type="image/webp")
                            img.categories-item__image(src="img/item-4.jpg" alt="запонки" width="350" height="280")