section.gallery-section
    .gallery-section__content.container
        p.gallery-section__subtitle #ojjo_jewerly
        h2.gallery-section__title.title Мы в социальных сетях
        .gallery
            a.gallery__item.gallery__item_big.gallery__item-video(data-fancybox="gallery" data-caption="Optional caption" href="img/gallery-1.png")
                video.fill(poster="img/gallery-1.png")
                    source(src="#")
            a.gallery__item(data-fancybox="gallery" data-caption="Optional caption" href="img/gallery-2.png")
                picture
                    source(srcset="img/gallery-2.webp" type="image/webp")
                    img.fill.gallery__img(src="img/gallery-2.png" alt="")
            a.gallery__item(data-fancybox="gallery" data-caption="Optional caption" href="img/gallery-3.png")
                picture
                    source(srcset="img/gallery-3.webp" type="image/webp")
                    img.fill.gallery__img(src="img/gallery-3.png" alt="")
            a.gallery__item(data-fancybox="gallery" data-caption="Optional caption" href="img/gallery-4.png")
                picture
                    source(srcset="img/gallery-4.webp" type="image/webp")
                    img.fill.gallery__img(src="img/gallery-4.png" alt="")
            a.gallery__item(data-fancybox="gallery" data-caption="Optional caption" href="img/gallery-5.png")
                picture
                    source(srcset="img/gallery-5.webp" type="image/webp")
                    img.fill.gallery__img(src="img/gallery-5.png" alt="")
            a.gallery__item.gallery__item_big.gallery__item-video(data-fancybox="gallery" data-caption="Optional caption" href="img/gallery-6.png")
                video.fill(poster="img/gallery-6.png")
                    source(src="#")