section.hero
    .container 
        .hero__content
            h1.hero__title Долго, дорого, богато!
            a.btn.hero__btn(href="catalog.html") каталог изделий 
    .hero__footer
        .container
            .hero__footer-content
                .hero__item
                    img(src="img/svg/brands/brand.svg", alt="brand-1")
                .hero__item
                    img(src="img/svg/brands/brand.svg", alt="brand-1")
                .hero__item
                    img(src="img/svg/brands/brand.svg", alt="brand-1")
                .hero__item
                    img(src="img/svg/brands/brand.svg", alt="brand-1")
                .hero__item
                    img(src="img/svg/brands/brand.svg", alt="brand-1")
                .hero__item
                    img(src="img/svg/brands/brand.svg", alt="brand-1")
    .marquee-wrapper.hero__marquee
        .marquee
            div
                .marquee-content
                    .marquee-item
                        img(src="img/svg/brands/brand.svg", alt="brand-1")
                    .marquee-item
                        img(src="img/svg/brands/brand.svg", alt="brand-1")
                    .marquee-item
                        img(src="img/svg/brands/brand.svg", alt="brand-1")
                    .marquee-item
                        img(src="img/svg/brands/brand.svg", alt="brand-1")
                    .marquee-item
                        img(src="img/svg/brands/brand.svg", alt="brand-1")
                    .marquee-item
                        img(src="img/svg/brands/brand.svg", alt="brand-1")        
                .marquee-content
                    .marquee-item
                        img(src="img/svg/brands/brand.svg", alt="brand-1")
                    .marquee-item
                        img(src="img/svg/brands/brand.svg", alt="brand-1")
                    .marquee-item
                        img(src="img/svg/brands/brand.svg", alt="brand-1")
                    .marquee-item
                        img(src="img/svg/brands/brand.svg", alt="brand-1")
                    .marquee-item
                        img(src="img/svg/brands/brand.svg", alt="brand-1")
                    .marquee-item
                        img(src="img/svg/brands/brand.svg", alt="brand-1")        