section.salon
    .salon__content.container
        p.salon__subtitle.subtitle Не знаете, что выбрать?
        h2.salon__title.title Посетите наши салоны в Москве
        .salon__text.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut duis tortor vitae pellentesque egestas quam pulvinar. Pellentesque porttitor velit sit pellentesque. Suspendisse donec pretium id dignissim. Dignissim ultrices eget orci viverra. Egestas quis et ut ultrices imperdiet lectus nulla tempus. Pharetra lorem sem purus nisi libero viverra ipsum.
        button.btn.btn-white.salon__btn наши салоны