
section.catalog
    .container
        .catalog__content
            h1.catalog__title.visually-hidden catalog
            .filter-list
                select.js-choice.js-choice-brand(name="brand")
                    option(data-hide="true") Бренд 
                    option(value="brand 1") brand 1
                    option(value="brand 2") brand 2
                    option(value="brand 3") brand 3
                    option(value="brand 4") brand 4
                select.js-choice.js-choice-price(name="price")
                    option Цена
                    option(value="1000") 1000
                    option(value="5000") 5000
                    option(value="10000") 10000
                    option(value="25000") 25000
                select.js-choice.js-choice-whom(name="whom")
                    option Для кого
                    option(value="male") male
                    option(value="female") female
                select.js-choice.js-choice-collection(name="collection")
                    option Коллекция 
                    option(value="collection 1") collection 1
                    option(value="collection 2") collection 2
                    option(value="collection 3") collection 3
                select.js-choice.js-choice-season(name="season")
                    option Сезон
                    option(value="winter") winter
                    option(value="summer") summer
                select.js-choice.js-choice-event(name="event")
                    option Событие 
                    option(value="event 1") event 1
                    option(value="event 2") event 2
                    option(value="event 3") event 3
                    option(value="event 4") event 4
            .catalog__items
                .catalog__items-row
                    .product
                        picture
                            source(srcset="img/rings.webp" type="image/webp")
                            img.product__img(src="img/rings.png" alt="кольца")
                        p.product__type Подвеска
                        p.product__name Dolce & Gabanna
                        a.btn.product__btn(href="#") 175 000 ₽
                        a.product__link(href="product.html")
                    .product
                        picture
                            source(srcset="img/rings.webp" type="image/webp")
                            img.product__img(src="img/rings.png" alt="кольца") 
                        p.product__type Подвеска
                        p.product__name Dolce & Gabanna
                        a.btn.product__btn(href="#") 175 000 ₽
                        a.product__link(href="product.html")
                    .product
                        picture
                            source(srcset="img/rings.webp" type="image/webp")
                            img.product__img(src="img/rings.png" alt="кольца") 
                        p.product__type Подвеска
                        p.product__name Dolce & Gabanna
                        a.btn.product__btn(href="#") 175 000 ₽
                        a.product__link(href="product.html")
                .catalog__items-row
                    .product
                        picture
                            source(srcset="img/rings.webp" type="image/webp")
                            img.product__img(src="img/rings.png" alt="кольца") 
                        p.product__type Подвеска
                        p.product__name Dolce & Gabanna
                        a.btn.product__btn(href="#") 175 000 ₽
                        a.product__link(href="product.html")
                    .product
                        picture
                            source(srcset="img/rings.webp" type="image/webp")
                            img.product__img(src="img/rings.png" alt="кольца") 
                        p.product__type Подвеска
                        p.product__name Dolce & Gabanna
                        a.btn.product__btn(href="#") 175 000 ₽
                        a.product__link(href="product.html")
                    .product
                        picture
                            source(srcset="img/rings.webp" type="image/webp")
                            img.product__img(src="img/rings.png" alt="кольца") 
                        p.product__type Подвеска
                        p.product__name Dolce & Gabanna
                        a.btn.product__btn(href="#") 175 000 ₽
                        a.product__link(href="product.html")
            a(href="#").btn.catalog__btn покажите еще
            .catalog-bottom
                .catalog-bottom__text-block
                    .catalog-bottom__text#text
                        p.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, lorem eu commodo porttitor erat. Amet mauris cursus bibendum in egestas. Nulla porttitor amet quam elit, mauris. Tortor egestas dignissim augue suspendisse rutrum pretium lobortis dolor. Commodo sagittis at amet faucibus faucibus id. Bibendum placerat convallis gravida eu quisque et augue. Sed dignissim amet ut vitae at ornare sed.
                        p.
                            Commodo sagittis at amet faucibus faucibus id. Bibendum placerat convallis gravida eu quisque et augue. Sed dignissim amet ut vitae at ornare sed.
                        p.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, lorem eu commodo porttitor erat. Amet mauris cursus bibendum in egestas. Nulla porttitor amet quam elit, mauris. Tortor egestas dignissim augue suspendisse rutrum pretium lobortis dolor. Commodo sagittis at amet faucibus faucibus id. Bibendum placerat convallis gravida eu quisque et augue. Sed dignissim amet ut vitae at ornare sed.
                        p.
                            Commodo sagittis at amet faucibus faucibus id. Bibendum placerat convallis gravida eu quisque et augue. Sed dignissim amet ut vitae at ornare sed.
                    button.read-more.catalog-bottom__read-more(data-target="text") читать полностью
                .catalog-bottom__icons
                    .catalog-bottom__icon.catalog-bottom__icon-deliver 
                        img(src="img/svg/delivery.svg", alt="" aria-hidden="true")
                        p Бесплатная доставка
                    .catalog-bottom__icon.catalog-bottom__icon-design 
                        img(src="img/svg/individual.svg", alt="" aria-hidden="true")
                        p Индивидуальный дизайн
                    .catalog-bottom__icon.catalog-bottom__icon-fitting 
                        img(src="img/svg/ribbon-design.svg", alt="" aria-hidden="true")
                        p Бесплатная примерка
                    .catalog-bottom__icon.catalog-bottom__icon-approach 
                        img(src="img/svg/jewelry.svg", alt="" aria-hidden="true")
                        p Личный подход
                        
