
section.catalog
    .container
        .catalog__content
            h2.catalog__title.visually-hidden catalog
            .filter-list
                select.js-choice.js-choice-brand(name="brand")
                    option brand 1
                    option brand 2
                select.js-choice.js-choice-price(name="price")
                    option 1000
                    option 2000
                select.js-choice.js-choice-whom(name="whom")
                    option male
                    option female
                select.js-choice.js-choice-collection(name="collection")
                    option collection 1
                    option collection 2
                select.js-choice.js-choice-season(name="season")
                    option winter
                    option summer
                select.js-choice.js-choice-event(name="event")
                    option event 1
                    option event 2
            .catalog__items
                .catalog__items-row
                    .product
                        img.product__img(src="img/rings.png", alt="кольца") 
                        p.product__type Подвеска
                        p.product__name Dolce & Gabanna
                        a.btn.product__btn(href="#") 175 000 ₽
                        a.product__link(href="product.html")
                    .product
                        img.product__img(src="img/rings.png", alt="кольца") 
                        p.product__type Подвеска
                        p.product__name Dolce & Gabanna
                        a.btn.product__btn(href="#") 175 000 ₽
                        a.product__link(href="product.html")
                    .product
                        img.product__img(src="img/rings.png", alt="кольца") 
                        p.product__type Подвеска
                        p.product__name Dolce & Gabanna
                        a.btn.product__btn(href="#") 175 000 ₽
                        a.product__link(href="product.html")
                .catalog__items-row
                    .product
                        img.product__img(src="img/rings.png", alt="кольца") 
                        p.product__type Подвеска
                        p.product__name Dolce & Gabanna
                        a.btn.product__btn(href="#") 175 000 ₽
                        a.product__link(href="product.html")
                    .product
                        img.product__img(src="img/rings.png", alt="кольца") 
                        p.product__type Подвеска
                        p.product__name Dolce & Gabanna
                        a.btn.product__btn(href="#") 175 000 ₽
                        a.product__link(href="product.html")
                    .product
                        img.product__img(src="img/rings.png", alt="кольца") 
                        p.product__type Подвеска
                        p.product__name Dolce & Gabanna
                        a.btn.product__btn(href="#") 175 000 ₽
                        a.product__link(href="product.html")
            a(href="#").btn.catalog__btn покажите еще
            .catalog-bottom
                .catalog-bottom__text-block
                    .catalog-bottom__text
                        p. 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet, lorem eu commodo porttitor erat. Amet mauris cursus bibendum in egestas. Nulla porttitor amet quam elit, mauris. Tortor egestas dignissim augue suspendisse rutrum pretium lobortis dolor. Commodo sagittis at amet faucibus faucibus id. Bibendum placerat convallis gravida eu quisque et augue. Sed dignissim amet ut vitae at ornare sed.
                        p.
                            Commodo sagittis at amet faucibus faucibus id. Bibendum placerat convallis gravida eu quisque et augue. Sed dignissim amet ut vitae at ornare sed.
                    .catalog-bottom__read-more читать полностью
                .catalog-bottom__icons
                    .catalog-bottom__icon.catalog-bottom__icon-deliver 
                        img(src="img/svg/delivery.svg", alt="" aria-hidden="true")
                        p Бесплатная доставка
                    .catalog-bottom__icon.catalog-bottom__icon-design 
                        img(src="img/svg/individual.svg", alt="" aria-hidden="true")
                        p Индивидуальный дизайн
                    .catalog-bottom__icon.catalog-bottom__icon-fitting 
                        img(src="img/svg/ribbon-design.svg", alt="" aria-hidden="true")
                        p Бесплатная примерка
                    .catalog-bottom__icon.catalog-bottom__icon-approach 
                        img(src="img/svg/jewelry.svg", alt="" aria-hidden="true")
                        p Личный подход
                        
