section.subscribe
    .subscribe__content.container
        p.subscribe__subtitle.subtitle Полезные советы и персональный предложения
        h2.subscribe__title.title Эксклюзивная рассылка
        .subscribe__items
            .subscribe__item
                ul.subscribe__list
                    li.subscribe__li Личный менеджер
                    li.subscribe__li Доставка и оформление
                    li.subscribe__li Индивидуальный дизайн
            .subscribe__item
                form#subscrform.form.subscribe__form
                    .form__row
                        input#subscrmail.form__input.form__input_w-200(type="email" placeholder="Ваш e-mail")
                        button.form__btn.btn(type="submit") отправить