.salon{
    padding-top: 100px;
    padding-bottom: 100px;

    background-color: $black;
    background-image: url('../img/background.png');
    color: #fff;

    .webp & {
        background-image: url('../img/background.webp');
    }

    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title{
        margin-bottom: 46px;   
    }

    &__text{
        max-width: 720px;
        margin: 0 auto;
        font-size: rem(18);
        line-height: 140%; 
        
        margin-bottom: 60px;
    }

    &__btn{
        

        &:hover{
            background: none;
        }
    }
}