include pug/head
include pug/common/mixins/header

doctype html
html(lang="ru")
    +head('Каталог')
    body
        .wrapper
            +header([{link:'#', content:'Контрагентам'},
                {link:'#', content:'Дизайнерам'},
                {link:'#', content:'Вакансии'},
                ])
            main.main
                include pug/pages/catalog/catalog
                include pug/pages/parts/subscribe
                
            include pug/footer
            include pug/pages/parts/popup
        <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
        script(src="js/app.min.js")
        
       

        